.form-control {
  border-radius: 10px;
  height: 60px;
  color: #000;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
}

#Contactme {
  display: inline-flex;
  width: 100%;
  padding: 20px;
  margin-top: 70px;
}
#Contactme form {
  margin-left: 50px;
}
.form-control {
  width: 700px;
}

#Contactme img {
  height: 500px;
  margin-top: 30px;
  margin-left: 100px;
}

#Contactme h1 {
  text-align: center;
  font-size: 50px;
  background: #333945;
  padding: 5px;
  border-radius: 10px;
  color: #ffffff;
}

#Contactme button {
  border-radius: 8px;
  color: #000;
  /* box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5); */
  font-size: 20px;
}

#Contactme img{
  /* box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5) ; */

}

