#Jumbotron{
    background-image: linear-gradient(to right, #462057, #100118);
    color: white;
    padding: 50px;
  }

#social{
  background-image: linear-gradient(to right, #462057, #100118);
    
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  box-shadow: 20px 20px 50px #cdc1e9, 
            -30px -30px 60px #cacaca;

  border-radius: 20px;
 



}
#social .fas{
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  padding-top: 7px;
  text-align: center;
  border-radius: 5px;
  background-image: linear-gradient(to right, #462057, #100118);
}

#newsletter{
  padding: 80px;
 
  margin-bottom: 0px;
  
  
}